*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-color: grey;
    height: 100vh;
    position: relative;
} */

.body{
    width: 350px;
    position: absolute;
    top: 25%;
    left: 40px;
}


@media (min-width: 768px){
    .body{
        width: 350px;
        position: absolute;
        top: 30%;
        left: 33%;
    }
}





