*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{

    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #36c98e, #89c210);
}

.content-center{
    width: 400px;
}





