<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 
    <title>Home</title>

    <style>

        form{
            width: 100%;
            max-width: 300px;
            display: block;
            margin: 50px auto;
        }
        form > button{
            margin:10px auto;
        }
    </style>

</head>
<body>

    <!-- if there is an error,show error -->
    

    <div class="justify-content-center">
        
        <form action="/" method="POST" class="child">
            <h1>Sign in</h1>
            <% if(err == 'true'){ %>
                <div class="alert alert-warn">Invalid email or password</div>
            <% } %>
            
            <br>
            <div id="wait">
                
            </div>

            <br>
            <input
                type="email" name="email"
                class="form-control mb-2"
                placeholder="email" required
            >
            <input
                type="password" name="password"
                class="form-control mb-2"
                placeholder="password" required
            >
            <button 
                type="submit"
                class="btn btn-100  btn-primary"
                onclick="waitingForAuth()"
            >
            Login
            </button>
            <br>
            <div>
                Don't have an account?
                <a href="http://localhost:8080/register">Create account!</a>
            </div>
            
        </form>

        
    </div>
    

    <script>
        function waitingForAuth(){
            document.querySelector("#wait").textContent = "Wait data is checking";
        }
    </script>
</body>
</html>