<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Register</title>

    <style>

        form{
            width: 100%;
            max-width: 300px;
            display: block;
            margin: 100px auto;
        }
        form > button{
            margin:10px auto;
        }
    </style>

</head>
<body>
    <div>
        <form action="/register" method="POST" class="">
            <h1 class="h-3">Register</h1>
            <input type="text" name="name" class="form-control mb-1" placeholder="name" required>
            <input type="number" name="age" class="form-control mb-1" placeholder="age" required>
            <input type="email" name="email" class="form-control mb-1" placeholder="email" required>
            <input type="password" name="password" class="form-control mb-1" placeholder="password" required>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>