  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .main {
    height: 100vh;
    width: 100vw;
    background: #eaecf0; /*original */
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    display:flex;
    background-color: rgba(121, 153, 153, 0.815);
  }

  nav > ul {
    display: flex;
  }

  nav > ul > li {
    list-style: none;
  }

  #battle{
    margin: 1% 5%;
    width: 90%;
    height: 350px;
    background-color: #00ffcc;
    display: flex;
    justify-content: center;

  }

  #playerOne {
    position:relative;
    width: 400px;
    display:block;
    background-color: blue;
  }
  #playerTwo {
    position:relative;
    width: 400px;
    display: block;
    background-color: red;
  }

  .icon {
    box-sizing: border-box;
    height: 160px;
    width: 125px;
    display:block;
    margin: 10px;
  }

  .icon1 {
    position: absolute;
    left:0;
    top:0;
  }

  .icon2 {
    position: absolute;
    left:0;
    top: 175px;
  }

  .icon3 {
    position: absolute;
    left:130px;
    top:87.5px;
  }

  .icon4 {
    position: absolute;
    left:260px;
    top:0;
  }

  .icon5 {
    position: absolute;
    left:260px;
    top: 175px;
  }

  #vs {
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding-top: 130px;
    font-size: 35px;
    font-family: 'Noto Sans Mono', monospace;
  }

  #container {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 170px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #21253c;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    margin-left: 5%;
  }
  
  #container:before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    animation: rotation 4s linear infinite;
    background-image: conic-gradient(transparent, transparent, transparent, #00ffcc);
  }
  
  #container:after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    animation: rotation 4s linear infinite;
    animation-delay: -2s;
    background-image: conic-gradient(transparent, transparent, transparent, #5621cf);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #container > form {
    width: 98%;
    height: 98%;
    border-radius: 6px;
    background: #21253c;
    z-index: 9;
  }

  form > span {
    color: rgb(19, 230, 245);
    display:flex;

  }
  form > span > div {
    color: rgb(19, 230, 245);
    margin: 10px;
    justify-content: center;
  }

  

  #btn {
    width: 90%;
    height: 35px;
    border-radius: 6px;
    margin: auto;
    margin-top: 32px;
    color: #c1c5c9;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #5621cf;
    transition: all .5s;
  }
  
  #btn:hover {
    filter: drop-shadow(2px 2px 5px #5621cf);
  }
  
  #reply{
    color:aliceblue;
    text-align: center; 
  }
  
